body {
    margin: 0 50px;
    background-color: #ABA6BF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.crud {
    font-size: 24px;
  }

  .bi-plus-circle {
    font-size: 48px;
    color: red;
    
  }

.app {
    background-color: #fff;
    width: 600px;
    height: 1200px;
    border: 5px solid #595775;
    border-radius: 8px;
    padding: 15px;
}
  
.modal-body {
    background-color: #BF988F;
    // max-height: 75vh;
    
  }
  
.modal-dialog {
    top: 19vh;
    right: 0vw;
}

  #addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #595775;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#msg {
    color: red;
  }

  
  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #abcea1;
    background-color: #595775;
    color: white;
    
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }
  
  .crud {
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .small {
    color: white !important;
  }