body {
    margin: 0 50px;
    background-color: #ABA6BF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.crud {
    font-size: 24px;
  }

  .bi-plus-circle-fill {
    font-size: 50px;
    color: #595775;
    
  }

.app {
    background-color: #fff;
    width: 500px;
    height: 1000px;
    border: 5px solid #595775;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
}
  

.modal-body {
    background-color: #BF988F;
    
    
  }
  
.modal-dialog {
    top: 12vh;
    right: 0vw;
}

  #addNew {

  color: #595775;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#msg {
    color: red;
  }

  
  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #abcea1;
    background-color: #595775;
    color: white;
    
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }
  
  .crud {
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .small {
    color: white !important;
  }